<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../../components/admin-navigation.ejs') %>
      <div class="jumbotron">
        <h1>Hello, Admin!</h1>
      </div>
    </div>
    <%- include('../../layout/body-end.ejs') %>
  </body>
</html>
