<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-container">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Register</h1>
        </div>
       <div class="modal-body">
          <form method="POST" action="/auth/sign-up">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input name="email" type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password"/>
            </div>
            <!-- <div class="checkbox"> -->
            <!--   <label><input type="checkbox">Accept T+C's</label> -->
            <!-- </div> -->
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
