<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../components/navigation.ejs') %>
      <div class="jumbotron">
        <h1>About page</h1>
        <p>
        Adipisicing dolorum eaque tenetur nisi velit ducimus? Minus sunt possimus sint quaerat mollitia possimus impedit iusto vero temporibus ea vel dignissimos sapiente nemo. Est impedit voluptatem soluta animi molestias perferendis!
        </p>
      </div>
    </div>
    <%- include('../layout/body-end.ejs') %>
  </body>
</html>
