<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 10px;">
    <div class="container-fluid">

      <%- include('../components/navigation.ejs') %>
      <div class="jumbotron">
        <h1>Hello, world!</h1>
      </div>
    </div>
    <%- include('../layout/body-end.ejs') %>
  </body>
</html>
