<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body style="padding-top: 60px;">

  <%- include('../components/navigation.ejs') %>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>
        Welcome
      </h1>
    </div>
  </div>

	<div class="container">
		<div class="box">
			<div class="row">
				<div class="col-lg-12 text-cent">
					<section>
						<div class="page-header text-center" id="gallery">
							<hr>
							<h2><strong>...to Glasgow Caledonian University!</strong></h2>
						</div>
						<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#screenshot-carousel" data-slide-to="1"></li>
								<li data-target="#screenshot-carousel" data-slide-to="2"></li>
								<li data-target="#screenshot-carousel" data-slide-to="3"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img src="/images/govan-mbeki-building.jpg" alt="Govan Mbeki Building" />
									<div class="carousel-caption">
										<h3>Govan Mbeki Building</h3>
									</div>
								</div>
								<div class="item">
									<img src="/images/library.jpg" alt="Library">
									<div class="carousel-caption">
										<h3>Library</h3>
									</div>
								</div>
								<div class="item">
									<img src="/images/carnegie-lecture-hall.png" alt="Carnegie Lecture Hall">
									<div class="carousel-caption">
										<h3>Carnegie Lecture Hall</h3>
									</div>
								</div>
								<div class="item">
									<img src="/images/saltire-centre.jpg" alt="Saltire Centre">
									<div class="carousel-caption">
										<h3>Saltire Centre</h3>
									</div>
								</div>
							</div>
							<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="box">
		<div class="row">
			<div class="col-lg-12 text-cent">
				<div class="container">
					<section>
						<div class="page-header" id="events">
							<hr>
							<h2>
							<strong>Events</strong>
							</h2>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>Leading actors celebrate success of industry-renowned screenwriting programme</p>
								<blockquote>
									<p>Stars of the stage and silver screen will attend a special event to celebrate the success of one of the UKs leading screenwriting courses.</p>
									<footer>17 March 2017</footer>
								</blockquote>
							</div>
							<div class="col-md-4">
								<p>Artist Gerard M Burns launches new exhibition at GCU</p>
								<blockquote>
									<p>Scots artist Gerard M Burns' portraits of Billy Connolly and First Minister Nicola Sturgeon will be exhibited at a public exhibition of his work at Glasgow Caledonian University (GCU) this month.</p>
									<footer>16 March 2017</footer>
								</blockquote>
							</div>
							<div class="col-md-4">
								<p>GCU to host global gathering of enterprise organisations</p>
								<blockquote>
									<p>Glasgow Caledonian University (GCU) is hosting the 2017 International Entrepreneurship Educators Conference (IEEC), the leading global gathering of enterprise and entrepreneurship educators and practitioners.</p>
									<footer>14 March 2017</footer>
								</blockquote>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="container">
		<div class="box">
			<div class="row">
				<div class="col-lg-12">
					<hr>
					<h2>
					<strong>GCU Contact Information</strong>
					</h2>
					<hr>
				</div>
				<div class="col-md-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.7989943508574!2d-4.252992784393185!3d55.86615378058381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888441f6d37e73b%3A0xe44f66a88fe29ff5!2sGlasgow+Caledonian+University!5e0!3m2!1sen!2suk!4v1490676983856" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4">
					<p>
						<strong>Address:</strong>
						<br>Glasgow Caledonian University
						<br>Cowcaddens Road
						<br>Glasgow
						<br>G4 0BA
						<br>Scotland, UK
					</p>
					<p>
						<strong>Telephone Number</strong>
						<br>T: +44 (0)141 331 3000
						<br>F: +44 (0)141 331 3005
					</p>
        </div>
			</div>
		</div>
	</div>
  <%- include('../layout/body-end.ejs') %>
  </body>
</html>
